#
# CVMFS access
# - We deploy a cluster-wide storage driver for CVMFS, provided by the
#   Kubernetes team at CERN (https://gitlab.cern.ch/kubernetes/storage/cvmfs-csi).
#   This solution is based on automounting.
#
cvmfs-csi:
  enabled: true
  automountHostPath: /var/cvmfs-blue
  automountStorageClass:
    create: true

#
# EOS access
# - We deploy a cluster-wide storage driver for EOS, provided by the
#   Kubernetes team at CERN (https://gitlab.cern.ch/kubernetes/storage/eosxd-csi).
#   This solution is based on automounting.
#
eosxd-csi:
  enabled:  &eosEnabled true
  automountHostPath: /var/eos-blue
  commonStorageClass:
    enabled: true
  extraConfigMaps:
    eos-csi-dir-etc-eos:
      # Ensure file versions are shown to allow notebook checkpoints (hide-versions option is added)
      fuse.home-i00.conf: |
        {"name":"home-i00","hostport":"eoshome-i00.cern.ch","remotemountdir":"/eos/user/","bind":"d l n t z","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.home-i01.conf: |
        {"name":"home-i01","hostport":"eoshome-i01.cern.ch","remotemountdir":"/eos/user/","bind":"a g j k w","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.home-i02.conf: |
        {"name":"home-i02","hostport":"eoshome-i02.cern.ch","remotemountdir":"/eos/user/","bind":"h o r s y","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.home-i03.conf: |
        {"name":"home-i03","hostport":"eoshome-i03.cern.ch","remotemountdir":"/eos/user/","bind":"b e m v x","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.home-i04.conf: |
        {"name":"home-i04","hostport":"eoshome-i04.cern.ch","remotemountdir":"/eos/user/","bind":"c f i p q u","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.project-i00.conf: |
        {"name":"project-i00","hostport":"eosproject-i00.cern.ch","remotemountdir":"/eos/project/","bind":"a e j g v k q y","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.project-i01.conf: |
        {"name":"project-i01","hostport":"eosproject-i01.cern.ch","remotemountdir":"/eos/project/","bind":"l h b p s f w n o","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}
      fuse.project-i02.conf: |
        {"name":"project-i02","hostport":"eosproject-i02.cern.ch","remotemountdir":"/eos/project/","bind":"d c i r m t u x z","auth":{"ssskeytab":"/etc/eos.keytab"},"options":{"hide-versions":0}}

#
# JupyterHub
#
jupyterhub:
  singleuser:
    uid: 0
    fsGid: 0
    storage:
      type: none
    image:
      name: "gitlab-registry.cern.ch/swan/docker-images/jupyter/swan"
      tag: "v0.0.14"
      pullPolicy: "IfNotPresent"
    cloudMetadata:
      blockWithIptables: false
      ip: 169.254.169.254
    networkPolicy:
      enabled: true
      egressAllowRules:
        dnsPortsCloudMetadataServer: false
        dnsPortsPrivateIPs: false
        nonPrivateIPs: false
    networkTools:
      image:
        name: "registry.cern.ch/quay.io/jupyterhub/k8s-network-tools"
    extraAnnotations:
      kubectl.kubernetes.io/default-container: notebook
    extraEnv:
      SWAN_DISABLE_NOTIFICATIONS: "true"
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 100m
    ingressClassName: nginx
    #tls:
    #  - secretName: swan-tls-cert
    # placeholder for hostname
    hosts:
  proxy:
    service:
      type: ClusterIP
    secretSync:
      image:
        name: "registry.cern.ch/quay.io/jupyterhub/k8s-secret-sync"
    chp:
      networkPolicy:
        enabled: true
        egressAllowRules:
          cloudMetadataServer: false
          dnsPortsCloudMetadataServer: false
          dnsPortsPrivateIPs: false
          privateIPs: false
      image:
        name: "registry.cern.ch/quay.io/jupyterhub/configurable-http-proxy"
        pullPolicy: "IfNotPresent"
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
    # placeholder for hub secret token
    secretToken:
  hub:
    podSecurityContext:
      fsGroup: 0
    containerSecurityContext:
      runAsUser: 0
      runAsGroup: 0
    deploymentStrategy:
      type: RollingUpdate
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
    livenessProbe:
      enabled: true
      initialDelaySeconds: 300
      periodSeconds: 15
      failureThreshold: 20
      timeoutSeconds: 10
    readinessProbe:
      enabled: false
    image:
      name: "gitlab-registry.cern.ch/swan/docker-images/jupyterhub"
      tag: v3.46
      pullPolicy: "IfNotPresent"
    extraVolumeMounts:
      - name: swan-jh
        mountPath: /srv/jupyterhub/options_form_config.json
        subPath: options_form_config.json
      - name: swan-jh
        mountPath: /usr/local/etc/jupyterhub/jupyterhub_config.d/1_swan_config.py
        subPath: swan_config.py
    extraVolumes:
      - name: swan-jh
        configMap:
          name: swan-scripts
          items:
          - key: options_form_config.json
            path: options_form_config.json
          - key: swan_config.py
            path: swan_config.py
    config:
      KeyCloakAuthenticator:
        # Config missing
        oidc_issuer:
        scope:
          - profile
          - email
          - offline_access
          - openid
        exchange_tokens: []
        auto_login: True
        allow_all: True
        client_id: # placeholder, check secrets
        client_secret: # placeholder, check secrets
        oauth_callback_url: # placeholder, check secrets
      SwanSpawner:
        options_form_config: /srv/jupyterhub/options_form_config.json
        # Give notebook 45s to start a webserver and max 60s for whole spawn process
        http_timeout: 45
        start_timeout: 60
        consecutive_failure_limit: 0
      KubeSpawner:
        delete_pvc: False
      SwanKubeSpawner:
        # set home directory to EOS
        local_home: False
        centos7_image: "gitlab-registry.cern.ch/swan/docker-images/systemuser:v6.0.0"
      SpawnHandlersConfigs:
        # disable some defaults of swanspawner that do now work for kube-spawner
        # FIXME remove this from the spawner once we support only k8s
        metrics_on: False
        local_home: True
      JupyterHub:
        authenticator_class: keycloakauthenticator.KeyCloakAuthenticator
        spawner_class: swanspawner.SwanKubeSpawner
        cleanup_servers: False
        tornado_settings:
          # currently we customize spawnhandler to stay in form before redirecting the user, as upstream does
          # FIXME remove once we remove the the metrics from the spawn
          slow_spawn_timeout: 15
        allow_named_servers: False
    extraConfig:
      00-authConf: |
        def pre_spawn_hook(authenticator, spawner, auth_state):
          raise Exception("Please configure pre_spawn_hook")
        c.KeyCloakAuthenticator.pre_spawn_hook = pre_spawn_hook
    networkPolicy:
      enabled: true
      egressAllowRules:
        cloudMetadataServer: false
        dnsPortsCloudMetadataServer: false
        dnsPortsPrivateIPs: false
        privateIPs: false
    # placeholder for hub cookieSecret
    # when empty, it generates a new randomly
    cookieSecret:
  scheduling:
    userScheduler:
      enabled: false
    podPriority:
      enabled: false
  prePuller:
    hook:
      enabled: true
      image:
        name: "registry.cern.ch/quay.io/jupyterhub/k8s-image-awaiter"
    pause:
      image:
        name: "registry.cern.ch/registry.k8s.io/pause"
    continuous:
      enabled: false
    containerSecurityContext:
      allowPrivilegeEscalation: true
  # disable upstream cull, but enable custom one
  cull:
    enabled: false
  custom:
    eos:
      enabled: *eosEnabled
# placeholders for swan credentials
swan:
  secrets:
    ingress:
      cert:
      key: